In [1]:
import numpy
import pandas as pd
import warnings 

data= 'vine_table.csv'
warnings.filterwarnings('ignore')

In [2]:
vine_df = pd.read_csv(data, index_col= False)
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RDIJS7QYB6XNR,5.0,0.0,0.0,N,Y
1,R36ED1U38IELG8,5.0,0.0,0.0,N,Y
2,R1UE3RPRGCOLD,2.0,1.0,1.0,N,Y
3,R298788GS6I901,5.0,0.0,0.0,N,Y
4,RNX4EXOBBPN5,1.0,1.0,1.0,N,Y
...,...,...,...,...,...,...
4864244,R1UP8F8Y4GC3IE,4.0,0.0,1.0,N,N
4864245,R3K9ZYANG0OFJB,5.0,7.0,7.0,N,N
4864246,R17ULZ2VC0O3CG,4.0,23.0,23.0,N,N
4864247,R13AWVNEKSY9M1,5.0,5.0,5.0,N,N
4864248,R1HN7EVNEN51LR,4.0,2.0,7.0,N,N

In [3]:
#filter total votes >= 20
filtered_df = vine_df[vine_df["total_votes"]>=20]
filtered_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
104,ROP6ITXO8K5V2,5.0,23.0,27.0,N,Y
311,R3ND1LVU7AXCVF,1.0,21.0,21.0,N,Y
356,R9I5FOLKU99RY,5.0,19.0,20.0,Y,N
424,R1QS8AOD6HX3ED,4.0,59.0,81.0,N,N
546,R3ED60RC69CCQ6,5.0,22.0,23.0,Y,N
...,...,...,...,...,...,...
4864231,R38OUW047HVFOA,5.0,64.0,93.0,N,N
4864234,RX6OVBR9HW8UT,4.0,18.0,23.0,N,N
4864240,R1LGX0XI8HMJD5,1.0,59.0,65.0,N,N
4864242,R3LS3DOYDLPFE,5.0,63.0,69.0,N,N
4864246,R17ULZ2VC0O3CG,4.0,23.0,23.0,N,N

In [9]:
#Filter the new DataFrame or table created in Step 1 and create a new DataFrame or 
#table to retrieve all the rows where the number of helpful_votes divided by 
#total_votes is equal to or greater than 50%.

filtered_df["ratio"] = filtered_df.helpful_votes/ filtered_df.total_votes >= .5
filtered_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,ratio
104,ROP6ITXO8K5V2,5.0,23.0,27.0,N,Y,True
311,R3ND1LVU7AXCVF,1.0,21.0,21.0,N,Y,True
356,R9I5FOLKU99RY,5.0,19.0,20.0,Y,N,True
424,R1QS8AOD6HX3ED,4.0,59.0,81.0,N,N,True
546,R3ED60RC69CCQ6,5.0,22.0,23.0,Y,N,True
...,...,...,...,...,...,...,...
4864231,R38OUW047HVFOA,5.0,64.0,93.0,N,N,True
4864234,RX6OVBR9HW8UT,4.0,18.0,23.0,N,N,True
4864240,R1LGX0XI8HMJD5,1.0,59.0,65.0,N,N,True
4864242,R3LS3DOYDLPFE,5.0,63.0,69.0,N,N,True
4864246,R17ULZ2VC0O3CG,4.0,23.0,23.0,N,N,True

In [20]:
vine_paid = filtered_df[filtered_df['verified_purchase']== 'Y']
vine_paid

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,ratio
104,ROP6ITXO8K5V2,5.0,23.0,27.0,N,Y,True
311,R3ND1LVU7AXCVF,1.0,21.0,21.0,N,Y,True
831,R2MDI1TP46VSYD,3.0,9.0,21.0,N,Y,False
1515,R29IYHPYD14AGI,3.0,84.0,84.0,N,Y,True
1801,R1F2I723WRK5QV,5.0,20.0,20.0,N,Y,True
...,...,...,...,...,...,...,...
4863385,R1DI5LHK9S36WI,5.0,39.0,39.0,N,Y,True
4863609,R32LS8HLOB5XRW,5.0,37.0,38.0,N,Y,True
4863752,R37HN2LGBY8VSI,5.0,22.0,23.0,N,Y,True
4863790,R3R94ISJ8W4OLQ,3.0,48.0,48.0,N,Y,True
4864121,R15JXGJEA7IEXD,5.0,31.0,32.0,N,Y,True

In [22]:
vine_unpaid = filtered_df[filtered_df['verified_purchase'] != "Y"]
vine_unpaid

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,ratio
356,R9I5FOLKU99RY,5.0,19.0,20.0,Y,N,True
424,R1QS8AOD6HX3ED,4.0,59.0,81.0,N,N,True
546,R3ED60RC69CCQ6,5.0,22.0,23.0,Y,N,True
926,R2JM687C525WR9,3.0,33.0,33.0,Y,N,True
1176,R2LWX4TZ67FWPT,4.0,50.0,50.0,N,N,True
...,...,...,...,...,...,...,...
4864231,R38OUW047HVFOA,5.0,64.0,93.0,N,N,True
4864234,RX6OVBR9HW8UT,4.0,18.0,23.0,N,N,True
4864240,R1LGX0XI8HMJD5,1.0,59.0,65.0,N,N,True
4864242,R3LS3DOYDLPFE,5.0,63.0,69.0,N,N,True
4864246,R17ULZ2VC0O3CG,4.0,23.0,23.0,N,N,True

In [34]:
# Determine the total number of reviews, the number of 5-star reviews,
# and the percentage of 5-star reviews for the two types of review

vine_count = len(vine_paid)
nonvine_count= len(vine_unpaid)

vine_stars = (vine_paid['star_rating'].values == 5).sum()
nonvine_stars= (vine_unpaid['star_rating'].values == 5).sum()

vine_perc = (vine_stars/vine_count)
nonvine_perc= (nonvine_stars/nonvine_count)

In [35]:
print(vine_count, vine_stars, vine_perc)
print(nonvine_count, nonvine_stars, nonvine_perc)

32441 14551 0.44853734471810364
38033 16734 0.43998632766281914